/*
.head1{

}*/
.topwords{
    z-index: ;
    text-align: right;

}
.upperimag{
    position: fixed;
    z-index: -1;
}

.upper{
    color: white;
    font-family: 'Open Sans', sans-serif;
}
.lower{
    color: white;
    font-family: 'Open Sans', sans-serif;
}
