/*
.head1{

}*/
.topwords{
    z-index: ;
    text-align: right;

}
.upperimag{
    position: fixed;
    z-index: -1;
}

.upper{
    color: white;
    font-family: 'Open Sans', sans-serif;
}
.lower{
    color: white;
    font-family: 'Open Sans', sans-serif;
}

* {
  margin:0;
  padding:0;
  font-family:"Helvetica Neue", Helvetica, Sans-serif;
  word-spacing:-2px;
}

h1 {
  font-size:40px;
  font-weight:bold;
  color:#191919;
  -webkit-font-smoothing: antialiased;
}

h2 {
  font-weight:normal;
  font-size:20px;
  color:#888;
  padding:5px 0;
}

#container {
    min-height: 100%;
    padding: 100px 00px;
    background: #36446c;
}
.active a{
    background: #3d546c !important;
    color: #ffffff !important;
}
.head1{
    z-index: 0;
}

.side1{
    margin-top: 60px;
    text-decoration: none;
    padding-bottom: 200px;
    background-color: #ebeced;
}
.side a{
    list-style: none;
}
.icon1{
    width: 24px;
    height: 24px;
    padding-left: ;
    margin-left: 28px;

}
li a{
   font-family: 'Source Sans Pro', sans-serif;
    word-spacing: 12px;
    color: #9ba0a4;

}

li{
    text-decoration: none;
    margin-bottom: 1px;
    font-size: 18px;
    line-height: 60px;
}
ul{
  list-style: none;

}
#sideb{
   margin-top: 60px;
   margin-left: 70px;
   margin-right: 70px;
}

p{
    font-size: 09px;
}
.blue_icon{
    width: 240px;
    margin-bottom: 24px;
    line-height: 50px;
}
